:root {
  // color
  --color-default-black: #000000;
  --color-default-white: #ffffff;
  --color-navy: #07086c;
  --color-new-midnight-blue: #0809a7;
  --color-ghost-white: #f2f2f4;
  --color-portage: #969af7;
  --color-solitude: #f2f3f5;
  --color-bright-grey: #626366;
  --color-silver: #c0c0c0;
  --color-orange: #ffa500;
  --color-matterhorn: #555555;
  --color-deep-koamaru: #2a336c;
  --color-black: #111111;
  --color-gainsboro: #e3e3e3;
  // mobile
  --screen375px: 23.4em;
  --screen425px: 26.5em;
  --screen480px: 30em;
  --screen540px: 33.7em;
  --screen640px: 40em;
  // tablet
  --screen768px: 47.97em;
  --screen960px: 60em;
  // desktop
  --screen1024px: 64em;
  --screen1280px: 80em;
  --screen1366px: 85.3em;
  --screen1440px: 90em;
  --screen1536px: 96em;
  --screen1600px: 100em;
  --screen1920px: 120em;
  --screen2500px: 156.2em;

  // retina
  --retina-dpi: 144dpi;
  --retina-dppx: 1.5dppx;
}

